.git/*
MegaBios/.vs/
MegaBios/MegaBios/bin/
MegaBios/MegaBios/obj/
MegaBios/MegaBios/obj/*
MegaBios/MegaBios/obj/Debug/

*.csproj.nuget.g.props
*.cache
*.props
MegaBios/MegaBios/obj/project.nuget.cache
MegaBios/MegaBios/obj/project.assets.json
MegaBios/MegaBios/obj/MegaBios.csproj.nuget.g.props
MegaBios/MegaBios/obj/MegaBios.csproj.nuget.dgspec.json
MegaBios/MegaBios/obj/Debug/net8.0/MegaBios.GeneratedMSBuildEditorConfig.editorconfig
MegaBios/MegaBios/obj/Debug/net8.0/MegaBios.assets.cache
MegaBios/MegaBios/obj/Debug/net8.0/MegaBios.AssemblyInfoInputs.cache
MegaBios/MegaBios/obj/Debug/net8.0/MegaBios.AssemblyInfo.cs
MegaBios/MegaBios/obj/Debug/net8.0/MegaBios.AssemblyInfo.cs
MegaBios/MegaBios/obj/Debug/net8.0/MegaBios.AssemblyInfoInputs.cache
MegaBios/MegaBios/obj/Debug/net8.0/MegaBios.assets.cache
MegaBios/MegaBios/obj/Debug/net8.0/MegaBios.GeneratedMSBuildEditorConfig.editorconfig
MegaBios/MegaBios/obj/Debug/net8.0/MegaBios.GeneratedMSBuildEditorConfig.editorconfig
MegaBios/MegaBios/obj/Debug/net8.0/MegaBios.assets.cache
MegaBios/MegaBios/obj/Debug/net8.0/MegaBios.AssemblyInfoInputs.cache
MegaBios/MegaBios/obj/Debug/net8.0/MegaBios.AssemblyInfo.cs
